:root {
  --primaryColor: #f15025;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.global {
  color: blueviolet;
  text-transform: capitalize;
}

.first {
  letter-spacing: 5px;
  color: var(--primaryColor);
}

.first {
  text-transform: uppercase;
  color: var(--primaryColor);
}